h1 {
  text-align: left;
  font-family: "Abel";
  text-transform: uppercase;
}
h2 {
  text-align: center;
  margin: 10px auto;
  font-size: 16px !important;
  font-weight: 300 !important;
}

h3 {
  margin: 25px auto;
}

a {
  font-family: monospace;
  margin: 10px auto;
  padding-left: 55px;
  text-decoration: none !important;
}
a:visited {
  color: #1f6bd5;
}

a:hover {
  cursor: pointer;
}

i {
  display: block;
  margin: auto;
  font-size: 40px;
  color: #c54f00;
}

hr {
  border: 1px solid #cbcbcb !important;
  opacity: 7 !important;
 box-shadow: 1px 1px 2px rgb(255, 255, 255);
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
strong {
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 1px 2px #ffffff;
}

small {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px !important;
}

span {
  color: #ffffff;
}


#min,
#max,
#humid,
#wind,#city-name,
#weatherDescription,
#current-date,
#windButton,
#humidButton {
  color: #ffffff !important;
  text-shadow: 1px 1px 2px #ffffff !important;
}

#body-section {
    background-color: #242424;
}
#cels-link {
  padding-right: 3px;
}
#min {
  padding-right: 3px;
}
#convert {
  color: #ffffff !important;
  text-shadow: 1px 1px 2px #4d4c4c !important;
}

#mainWeatherIcon, #rangeWeatherIcon {
  margin: -20px auto;
  width: 100px !important;
}

#weatherDescription {
  display: block;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
}

#cels-link,
#fahr-link {
  padding-left: 3px;
  color: #ffffff;
  font-size: 14px;
}
#cels-link,
#fahr-link:hover {
  cursor: default;
}

#currWeaPlat {
  max-width: 400px !important;
}
#windButton,
#humidButton {
  display: block;
  margin: 10px auto;
  padding: 2px;
  border: none;
  background-color: #c54f00;
  border-radius: 7px;
  box-shadow: 1px 1px 2px rgb(255, 255, 255);
}

#windButton {
  margin-left: 20px;
  margin-right: 5px;
}

#current-date {
  font-size: 24px !important;
  font-weight: 300 !important;
}
#current-time {
  text-shadow: 1px 1px 2px #ffffff !important;
}

.timeDate,
.range,
.fa-magnifying-glass,
.fa-location-dot,
.nowTemp,
.fa-droplet,
.fa-wind {
  text-shadow: 1px 1px 2px #ffffff;
  color: #f8f6f6;
}
.fa-map-pin{
  color: #c54f00;
  text-shadow: 1px 1px 2px #680505;
}

.forecast {
  font-size: 22px;
  color: #c54f00;
  font-family: "Roboto slab";
  font-weight: 500;
  text-shadow: 1px 1px 2px #680505;
}

.fa-droplet,
.fa-wind {
  font-size: 20px;
}

.fa-magnifying-glass,
.fa-location-dot, .fa-angles-right {
  font-size: 22px;
  padding: 4px 5px 9px;
}

.container {
  text-align: center;
  margin: 10px auto;
  position: relative;
  padding: 25px;
  height: 505px;
  box-shadow: 3px 3px 10px rgb(86, 85, 85);
  border-radius: 10px;
  font-family: "Abel";
  color: #ffffff;
  font-weight: 300;
  background-color: #111111;
  background-size: 1400px 600px;
  background-repeat: no-repeat;
}
.modeBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  background-color: #c54f00;
  border: 2px solid #000000;
  border-radius: 7px;
  text-shadow: 2px 2px 4px #ffffff;
  box-shadow: 1px 1px 2px rgb(255, 255, 255);
  color: #000000;
}

.currentWeatherPlatform {
  display: block;
  text-align: center;
  color: #ffffff;
  margin: 10px 15px auto;
  padding: 15px;
  height: 450px;
  background-color: #8a8a8a4e;
  box-shadow: 3px 3px 9px rgb(255, 254, 254);
  border-radius: 190px;
  transition: all 200ms ease-in-out;
}

.currentWeatherPlatform:hover {
  cursor: pointer;
  box-shadow: 3px 3px 9px rgb(255, 255, 255);
  background-color: #883600;
}
.mainWeather {
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 25px;
  padding-left: 20px;
}
.mainWeather:hover {
  cursor: default;
}

.nowTemp {
  text-align: center;
  font-size: 55px;
  margin: 10px auto !important;
  line-height: 45px;
  padding: 0;
}

.active {
  color:#c54f00 !important;
}

.currentWeatherRange {
  padding: 0;
  margin: 0px 20px auto;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.weatherSpecs {
  display: block;
  font-size: 18px;
  font-family: "Abel";
  color: #ffffff;
  text-shadow: 1px 1px 2px #ffffff;
  text-align: left;
  list-style-type: none;
  padding: 5px;
  margin: 35px 5px auto !important;
}
.timeDate {
  margin-top: 30px;
}

.forecastWeatherPlatform {
  display: block;
  text-align: center;
  padding: 15px;
  margin: 45px 10px auto;
}

.col {
  display: inline-block;
  line-height: 30px;
  background-color:#8d8b8bbe;
  margin: 10px 15px;
  padding: 10px 5px;
  border-radius: 25px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.col:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px rgb(255, 255, 255);
  background-color: #883600;
}

.range {
  font-family: "Courier New", Courier, monospace;
}

.rangeMin {
  color: #c54f00;
  text-shadow: 1px 1px 1px #0f0f0f;
}

.rangeMax {
  color: #ffffff;
  text-shadow: 1px 1px 2px #686868}

.fa-sun,.fa-cloud-sun,.fa-cloud-showers-heavy {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #686868;
}

.cityInput {
  margin: 5px 5px auto;
  margin-right: 4px;
  padding: 6px;
  padding-right: 0px;
  width: 500px;
  border: 2px solid #444343;
  border-radius: 7px;
  background-color: #ffffff;
  font-family: "Abel";
  box-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.searchButton,
.currLocatButton {
  background-color: #c54f00;
  color: #ffffff;
  margin-right: 3px;
  font-family: "Abel";
  text-shadow: 1px 1px 3px #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgb(255, 255, 255);
}
