h1 {
  text-align: Left;
  font-family: "Abel";
  text-transform: uppercase;
}
h2 {
  text-align: center;
  margin: 10px auto;
  font-size: 16px !important;
  font-weight: 300 !important;
}

h3 {
  margin: 25px auto;
}

a {
  font-family: monospace;
  margin: 10px auto;
  padding-left: 55px;
  text-decoration: none !important;
}
a:visited {
  color: #1f6bd5;
}

a:hover {
  cursor: pointer;
}

i {
  display: block;
  margin: auto;
  font-size: 45px;
  color: rgb(0, 0, 0);
}

hr {
  border: 1px solid #000000 !important;
  opacity: 7 !important;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
strong {
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 1px 2px #000; 
}

small {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px !important;
}

span {
  color: #000;
}

#city-name, #convert, #min, #max, #humid, #wind, #weatherDescription, #current-date, #windButton, #humidButton{
  color: #fff !important;
  text-shadow: 2px 2px 2px #000 !important;
}

#weatherDescription {
  text-transform: capitalize;
  font-size: 20px;
}

#windButton, #humidButton {
  display: block;
  margin: 25px auto;
  padding: 0px;
  border: none;
  background-color: #0000004d;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);

}

#convert {
  font-size: 13px;
}

#currWeaPlat {
  max-width: 400px !important;
}

#current-date {
  font-size: 24px !important;
  font-weight: 300 !important;
}


.timeDate, .range, .fa-magnifying-glass, .fa-location-dot, .nowTemp{
  text-shadow: 2px 2px 4px #000;
  color: #fff;
}
.fa-magnifying-glass, .fa-location-dot {
  font-size: 22px;
  padding: 4px 5px 9px;
}

.container {
  text-align: center;
  margin: 10px auto;
  padding: 25px;
  height: 505px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  border-radius: 10px;
  font-family: "Abel";
  color: #fff;
  font-weight: 300;
  background-image: url("../images/zoltan-tasi-KHD_FA43aMw-unsplash.jpg");
  background-size: 1400px 600px;
  background-repeat: no-repeat;
}

.currentWeatherPlatform {
  display: block;
  text-align: center;
  color: #fff;
  margin: 10px 15px auto;
  padding: 15px;
  height: 450px;
  background-color: #6110104e;
  box-shadow: 5px 5px 8px rgb(0, 0, 0);
  border-radius: 190px;
  transition: all 200ms ease-in-out;
}

.currentWeatherPlatform:hover {
  cursor: pointer;
  box-shadow: 5px 5px 15px rgb(2, 4, 93);
  backdrop-filter: blur(9px);
}
.mainWeather {
  margin-top: 10px;
  margin-bottom: 2px;
}
.nowTemp {
  font-size: 55px;
  margin: auto;
  line-height: 45px;
  padding: 0;
}

.currentWeatherRange {
  padding: 0;
  margin: auto;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.weatherSpecs {
  display: block;
  font-size: 18px;
  font-family: "Abel";
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  text-align: left;
  list-style-type: none;
  padding: 20px;
  margin: 25px 5px auto;
}

.forecastWeatherPlatform {
  display: block;
  text-align: center;
  padding: 15px;
  margin: 45px 10px auto;
}

.col {
  display: inline-block;
  line-height: 30px;
  background-color: #6110104e;
  margin: 10px 15px;
  padding: 10px 18px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.col:hover {
  cursor: pointer;
  padding: 14px 22px;
  box-shadow: 2px 2px 5px rgb(2, 4, 93);
  backdrop-filter: blur(9px);
}

.range {
  font-family: "Courier New", Courier, monospace;
}

.fa-sun {
  color: rgb(254, 247, 42);
  text-shadow: 2px 2px 4px #000;
}
.fa-cloud-sun {
  color: rgb(254, 134, 54);
  text-shadow: 2px 2px 4px #000;
}

.fa-cloud-showers-heavy {
  color: rgb(128, 126, 126);
  text-shadow: 2px 2px 4px #000;
}

.cityInput {
  margin: 10px 5px auto;
  margin-right: 0px;
  padding: 6px;
  padding-right: 0px;
  width: 400px;
  border: 1px solid #000000;
  border-radius: 7px;
  background-color: #ffffff;
  font-family: "Abel";
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.searchButton {
  background-color: #61101061;
  color: #fff;
  font-family: "Abel";
  text-shadow: 1px 1px 3px #000;
  border: 1px solid #000000;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.currLocatButton {
  background-color: #61101072;
  color: #fff;
  font-family: "Abel";
  text-shadow: 1px 1px 3px #000;
  border: 1px solid #000000;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}