h1 {
  text-align: left;
  font-family: "Abel";
  text-transform: uppercase;
}
h2 {
  text-align: center;
  margin: 10px auto;
  font-size: 16px !important;
  font-weight: 300 !important;
}

h3 {
  margin: 25px auto;
}

a {
  font-family: monospace;
  margin: 10px auto;
  padding-left: 55px;
  text-decoration: none !important;
}
a:visited {
  color: #1f6bd5;
}

a:hover {
  cursor: pointer;
}

i {
  display: block;
  margin: auto;
  font-size: 40px;
  color: rgb(0, 0, 0);
}

hr {
  border: 1px solid #fff !important;
  opacity: 7 !important;
  box-shadow: 2px 2px 5px #7d1010;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
strong {
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 1px 2px #7d1010;
}

small {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px !important;
}

span {
  color: #000;
}


#min,
#max,
#humid,
#wind,
#weatherDescription,
#current-date,
#windButton,
#humidButton {
  color: #fff !important;
  text-shadow: 2px 2px 2px #7d1010;
}
#city-name{
  color: #fff;
  text-shadow: 1px 1px 2px #7d1010;
}

#cels-link {
  padding-right: 3px;
}
#min {
  padding-right: 3px;
}
#convert {
  color: #fff !important;
  text-shadow: 1px 1px 2px #7d1010 !important;
}

#mainWeatherIcon, #rangeWeatherIcon {
  margin: -20px auto;
  width: 100px !important;
}

#weatherDescription {
  display: block;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
}

#cels-link,
#fahr-link {
  padding-left: 3px;
  color: #fff;
  font-size: 14px;
}
#cels-link,
#fahr-link:hover {
  cursor: default;
}

#currWeaPlat {
  max-width: 400px !important;
}
#windButton,
#humidButton {
  display: block;
  margin: 10px auto;
  padding: 2px;
  border: none;
  background-color: #510606be;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

#windButton {
  margin-left: 20px;
  margin-right: 5px;
}


#current-date {
  font-size: 24px !important;
  font-weight: 300 !important;
}
#current-time {
  text-shadow: 2px 2px 2px #7d1010 !important;
}

.timeDate,
.fa-magnifying-glass,
.fa-location-dot,
.nowTemp,
.fa-droplet,
.fa-wind {
  text-shadow: 2px 2px 4px #7d1010;
  color: #fff;
}


.forecast {
  font-size: 22px;
  color: #fff;
  font-family: "Roboto slab";
  font-weight: 500;
  text-shadow: 1px 1px 2px #7d1010;
}
.fa-angles-right {
  color: #fff;
  text-shadow: 1px 1px 2px #7d1010;
}
.fa-droplet,
.fa-wind {
  font-size: 20px;
}

.fa-magnifying-glass,
.fa-location-dot,.fa-angles-right {
  font-size: 22px;
  padding: 4px 5px 9px;
}

.fa-map-pin {
  color: #fff;
  text-shadow: 1px 1px 2px #7d1010;
}

.container {
  position: relative;
  text-align: center;
  margin: 10px auto;
  padding: 25px;
  height: 505px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  border-radius: 10px;
  font-family: "Abel";
  color: #fff;
  font-weight: 300;
  background-image: url("../images/robert-katzki-fyHkeWGOpHM-unsplash.jpg");
  background-size: 1400px 600px;
  background-repeat: no-repeat;
}

.modeBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 7px;
  text-shadow: 2px 2px 4px #7d1010;
  color: #fff;
}
.currentWeatherPlatform {
  display: block;
  text-align: center;
  color: #fff;
  margin: 10px 15px auto;
  padding: 15px;
  height: 450px;
  background-color: #6110104e;
  box-shadow: 5px 5px 8px #510606;
  border-radius: 190px;
  transition: all 200ms ease-in-out;
}

.currentWeatherPlatform:hover {
  cursor: pointer;
  box-shadow: 3px 3px 9px #510606;
  backdrop-filter: blur(9px);
}
.mainWeather {
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 25px;
  padding-left: 20px;
}
.mainWeather:hover {
  cursor: default;
}

.nowTemp {
  text-align: center;
  font-size: 55px;
  margin: 10px auto !important;
  line-height: 45px;
  padding: 0;
}

.active {
  color: #000 !important;
}

.currentWeatherRange {
  padding: 0;
  margin: 0px 20px auto;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.weatherSpecs {
  display: block;
  font-size: 18px;
  font-family: "Abel";
  color: #fff;
  text-shadow: 2px 2px 4px #7d1010;
  text-align: left;
  list-style-type: none;
  padding: 5px;
  margin: 35px 5px auto !important;
}
.timeDate {
  margin-top: 30px;
}

.forecastWeatherPlatform {
  display: block;
  text-align: center;
  padding: 15px;
  margin: 45px 10px auto;
}

.forecastColumns {
  margin-left: 20px;
}

.col {
  display: inline-block;
  line-height: 30px;
  background-color: #6110104e;
  margin: 5px 10px;
  padding: 25px 5px;
  border-radius: 55px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.col:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px rgb(2, 2, 2);
  background-color: #510606be;
}

.range {
  font-family: "Courier New", Courier, monospace;
}

.rangeMin {
  color: #000000;
  text-shadow: 1px 1px 1px #7d1010;
}

.rangeMax {
  color: #000000;
  text-shadow: 1px 1px 2px #7d1010;
}

.fa-sun {
  color: rgb(220, 219, 217);
  text-shadow: 2px 2px 4px #7d1010;
}
.fa-cloud-sun {
  color: rgb(220, 219, 217);
  text-shadow: 2px 2px 4px #7d1010;
}

.fa-cloud-showers-heavy {
  color: rgb(220, 219, 217);
  text-shadow: 2px 2px 4px #7d1010;
}

.cityInput {
  margin: 5px 5px auto;
  margin-right: 4px;
  padding: 6px;
  padding-right: 0px;
  width: 500px;
  border: 2px solid #cfcece;
  border-radius: 7px;
  background-color: #ffffff;
  font-family: "Abel";
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.searchButton,
.currLocatButton {
  background-color: #510606be;
  margin-right: 3px;
  color: #fff;
  font-family: "Abel";
  text-shadow: 1px 1px 3px #7d1010;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
